#logo-ih{
  float: left;
  /* display: flex; */
  /* align-content: center; */
  width: 30px;
  height: 30px;
}
nav{
  height: 60px;
}
.courses {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 12px 32px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  color: #2d354c;
  margin-bottom: 48px;
  padding: 40px;
  text-align: left;
  transition: box-shadow .3s ease-in-out;
  
}

#rooftop-img {
  background-image: url('../images/miami-4.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  opacity: 1;
  padding: 32px 64px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #00c3ff !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}